## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..//Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Hilo,US,79.79,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
1,11,Alofi,NU,80.19,broken clouds,-19.0595,-169.9187,Taloa Heights
2,14,Atuona,PF,79.57,light rain,-9.8000,-139.0333,Villa Enata
3,16,Georgetown,MY,82.89,few clouds,5.4112,100.3354,Cititel Penang
4,20,Luganville,VU,77.72,overcast clouds,-15.5333,167.1667,The Espiritu Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Pacifica"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Pacifica"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Jose"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Laguna"]

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {stop3}, End: {end}')

Start: (38.421, -121.4238), End: (37.6138, -122.4869)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

itinerary_df = gmaps.directions_layer(start,  end, waypoints=[stop1, stop2, stop3], travel_mode="WALKING")

fig.add_layer(itinerary_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,493,Pacifica,US,76.33,few clouds,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."
1,246,Half Moon Bay,US,76.53,scattered clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
2,505,San Jose,US,76.48,few clouds,37.3394,-121.8950,The Westin San Jose
3,626,Laguna,US,81.45,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0  37.6138 -122.4869
1  37.4636 -122.4286
2  37.3394 -121.8950
3  38.4210 -121.4238

In [52]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure(center=(38.0, -122.0), zoom_level=8, layout={
        'width': '600px',
        'height': '600px',})
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='600px', width='600px'))

In [ ]:
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig